<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2>Welcome, <%= email %></h2>
    <button id="generateKeyBtn">Generate Key</button>

    <h5>Your Access Keys</h5>
    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Creation Date</th>
                <th>Expiration Date</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            <% if (userKeys) {  %>
            <% userKeys.forEach(key => { %>
                <tr>
                    <td><%= key.key %></td>
                    <td><%= key.creation_date %></td>
                    <td><%= key.expiration_date %></td>
                    <td><%= key.is_active %></td>
                </tr>
            <% }) %>
            <% } %>
        </tbody>
    </table>

    <% if (isAdmin) { %>
        <h2>All Access Keys</h2>
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Creation Date</th>
                    <th>Expiration Date</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                <% allKeys.forEach(key => { %>
                    <tr>
                        <td><%= key.key %></td>
                        <td><%= key.creation_date %></td>
                        <td><%= key.expiration_date %></td>
                        <td><%= key.is_active %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>

    <form action="/auth/signout" method="POST">
        <button type="submit">Sign Out</button>
    </form>

    <script src="/javascript/key.js"></script>
</body>
</html>
